body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.card-content {
    padding: 10px;
    display: none; /* Ocultar conteúdo inicialmente */
}

.card-actions {
    text-align: center;
    padding: 10px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #2980b9;
}

#dados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dado-card {
    text-align: center;
}

.dado-card img {
    cursor: pointer;
    width: 80px;
    margin: 10px;
}

.resultado {
    margin-top: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
